.App {
  text-align: center;
  /* background: url('/public/pattern.svg') repeat center fixed; */
  background-color: #0d0d0d;
  /* background-size: cover; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll !important;
  /* background-image: url('./pattern.svg');
  
  background-repeat: repeat;  
  background-size: 40%;      
  background-position: top left; */
}

.bg {
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  overflow-y: scroll !important;
  pointer-events: none;
  z-index: 0;


  background-image: url('./pattern.svg');
  
  background-repeat: repeat;  /* Ensures the pattern repeats both horizontally and vertically */
  background-size: 32%;      /* Keeps the original size of the SVG */
  background-position: top left; /* Start the pattern from the top-left corner */
  filter: invert(15%) sepia(10%) saturate(10%);
  /* filter: invert(15%); */
  /* filter: brightness(0) saturate(100%) invert(12%) sepia(25%) saturate(1065%) hue-rotate(121deg) brightness(95%) contrast(100%); */
}

@media only screen and (max-width: 950px) {
  .bg {
    background-size: 45%;
  }
  .invite-card {
    margin-bottom: 16rem;
  }
}
@media only screen and (max-width: 620px) {
  .bg {
    background-size: 55%;
  }
  
}
@media only screen and (max-width: 500px) {
  .bg {
    background-size: 100%;
  }
  .invite-card-content {
    padding: 24px 16px;
  }
}
@media only screen and (max-height: 750px) {
  .invite-card {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-height: 650px) {
  .invite-card {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-height: 600px) {
  .invite-card {
    margin-bottom: 0;
  }
}
@media only screen and (max-height: 500px) {
  /* .channel-logo {
    height: 80px;
    width: 80px;
  } */
   body, html  {
    overflow-y: scroll !important;
   }
   /* .bg {
    height: 100%;
   } */
   .invite-card {
    scale: 0.8;
    margin-bottom: 0;
   }
   .invite-card-content {
    padding: 16px 32px;
  }
   .msg {
    margin-top: 10px;
   }
   .channel-description {
    margin-top: 6px;
  }
   .channel-handle {
    margin-top: 2px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
  background-color: #000;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

a, p, h1, h2, h3, h4, h5, h6, button {
  text-decoration: inherit;
  color: inherit;
  margin: inherit;

}

ul {
  list-style: none;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start; */
}