.button {
  /* margin-top: 10px; */
  padding: 10px 20px;
  background-color: #1c93e3;
  border: none;
  border-radius: 500px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: 0.2s;
}

.msg {
  padding: 10px 20px;
  margin-top: 30px;
  /* text-wrap: nowrap; */
}

.down {
  padding: 6px 12px;
}

.button {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-wrap: nowrap;

}

.button:hover {
  
  background-color: #017fbe;
}